language: node_js

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.12.3
  - export PATH="$HOME/.yarn/bin:$PATH"

node_js:
  - "stable"

script:
  - yarn validate

cache:
  yarn: true
